@import "../fonts/fonts.scss";
@import "../vendor/css/normalize";

$gray-dark: #333333;
$gray-pale: #f9f9f9;
$blue-theme: #1363A7;
$blue-theme-light: #93D4F7;
$orange-theme: #D58A23;
$green-theme: #0FA320;

body {
  -webkit-font-smoothing: antialiased;
  color: $gray-dark;
  font-family: 'Tajawal', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

a {
  color: $blue-theme;
  font-weight: bold;
  &:focus, &:hover {
    color: darken($blue-theme, 5%);
  }
}

strong {
  color: $blue-theme;
}

.container {
  width: 960px;
  margin-left:  auto;
  margin-right:  auto;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  .header {
    &-logo {
      text-align:  center;
      .logo-wrap {
        svg {
          width: 400px;
          padding: 2em 1em;
          display: block;
          margin: auto;
          .signature {
            &-zh {
              fill: none;
              stroke-width: 5px;
              stroke: $blue-theme-light;
            }
            &-en {
              fill: $blue-theme;
            }
          }
        }
      }
    }
    &-nav {
      ul {
        margin: 0;
        padding:  0;
        list-style:  none;
        display:  flex;
        justify-content: center;
        li {
          &.home-button {
            a {
              padding:  0;
              position:  relative;
            }
          }
          a {
            padding: 1em;
            display:  block;
            color: #d58a23;
            text-transform:  uppercase;
            text-decoration:  none;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.home-button {
  position:  fixed;
  top: 2em;
  left: 2em;
  img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    position: relative;
    transition: bottom .3s ease, box-shadow .3s ease;
    bottom: 0;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
  }
  a {
    &:focus, &:hover {
      img {
        bottom: 3px;
        box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      }
      span {
        bottom: -20px;
        opacity: 1;
      }
    }
    span {
      display:  block;
      transform:  rotate(-90deg);
      position: relative;
      bottom: 35px;
      left: -25px;
      opacity: 0;
      transition: bottom .3s ease, opacity .3s ease;
    }
  }
}

.content-area {
  position: relative;
  &:before, &:after {
    content: '';
    display: table;
    width: 0;
  }
  > section {
    position: relative;
  }
}

.feature {
  color: $blue-theme-light !important;
}
.highlight {
  color: $green-theme !important;
  font-weight: 600 !important;
}

$jumbo-image-width: 240px;
$jumbo-padding: 50px;
$image-text-distance: 30px;

.jumbo {
  position: relative;
  padding: $jumbo-padding;
  &-card {
    margin-right: ($jumbo-image-width / 2);
    margin-top: ($jumbo-image-width / 2 - $jumbo-padding);
    padding: $jumbo-padding ($jumbo-image-width / 2 + $image-text-distance) $jumbo-padding $jumbo-padding;
    border: 2px solid $blue-theme-light;
    p {
      font-size: 40px;
      margin: 0;
      line-height: 1.6;
      color: $blue-theme;
    }
  }
  &-image {
    position: absolute;
    top: $jumbo-padding;
    right: $jumbo-padding;
    img {
      display: block;
      width: $jumbo-image-width;
      box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
    }
  }
}

footer {
  padding: 1em;
  text-align: center;
  font-size: .85em;
}